/*.flex-container div {
    background: white;
    border: 4px solid black;
    height: 100px;
    flex: 1;
}*/

.flex-container {
    display: flex;
}

.flex-container div {
    background: white;
    border: 4px solid black;
    height: 100px;
    flex: 1 1 0%;
}

.container {
    background-color: aqua;
    padding: 16px;
    border: 4px solid blue;
    margin: 8px;
    display: flex;
}

.item {
    background-color: aquamarine;
    border: 4px solid green;
    height: 48px;
    flex: 1;
    padding: 4px;
}