*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(50, 50, 50);
}
.container{
    background-color: rgb(50, 50, 50);
    max-width: 1000px;
    margin: 60px auto;
    height: 1250;
    padding: 22px;
}
.header{
    text-align: center;
}
.header p{
    color: white;
    font-size: 50.5px;
    text-transform: uppercase;
}
.header h3{
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 0 0 0;
    margin: 0 0;
    font-size: 20px;
}
.profile-image{
    width: 255px;
    height: 260px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px solid;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left-side{
    flex: 1;
    padding: 30px;
}
.left-side p{
    color: white;
    margin: 10px 0;
    font-size: 20px;
    border-radius: 20px;
}
.left-side h2{
    color: gray;
    padding: 20px 0 0;
    text-transform: uppercase;
}
.left-side ul li{
    color: white;
    line-height: 1.7;
}
.right-side{
    color: white;
    flex: 1;
    padding: 30px;
}
.right-side h2{
    text-decoration: underline;
    padding: 20px 0 0;
}
.right-side h3{
    color: white;
    margin-bottom: 15px;
}
.right-side p{
    color: white;
    line-height: 1.7;
}
.right-side ul li{
    color: white;
    line-height: 1.7;
}

